@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            @foreach (var item in ViewBag.Result)
            {
                <tr>
                    <td>@item.Address</td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Section 1 - Jumbotron with large image -->
<section id="section1" class="jumbotron-fluid text-center">
    <div>
        <div id="logoDiv">
            <img id="logo" src="images/logo.png">
            <br><br>
            <h1 id="open7">Helping small local restaurants!</h1>
            <br>
            <br>
        </div>

    </div>

</section>

<!-- Section 2 - Intro  -->
<section class="my-5">
    <div class="container">
        <div class="row align-items-center">

            <!-- Part One - Image  -->
            <div class="col-md-5 order-2 order-md-1">
                <img src="images/sign.jpg" alt="" class="img-fluid">
            </div>

            <!-- Part Two - Intro  -->
            <div class="col-md-7 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div id="intro" class="col-10 col-lg-11 mb-5">
                        <h1 class="title">About Us</h1>
                        <br>
                        <p>
                            We are a non-profit platform for
                            small local restaurants impacted by COVID-19 to advertise themselves and benefit from
                            volunteer-based delivery services. The name “Delivive” comes from “deliver” and “revive”,
                            which is reflective of our goals that aim to revive the impacted
                            small local restaurants through volunteer delivery services.
                        </p>
                        <p>
                            What makes “Delivive” unique is its non-profit nature. With the help from “Delivive” and its volunteers, small local restaurants can have a chance to
                            reopen and stay in business. Local residents can once again enjoy the food from their favourite
                            local restaurants while staying home from social gathering.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>