<div style="margin-bottom:50px">
    <h1>Submitted successfully!</h1>
</div>
<div style="margin-bottom:50px">
    <input type="button" value="GO TO HOME PAGE" onclick="location.href='/Home/Index'" class="btn" style="background-color:#64958f; color:#faf3dd; font-weight:500" />
</div>

