body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #faf3dd;
    font-family: 'Raleway', sans-serif;
    color: #065c6f;
    font-weight: 600;
}

.navbar {
    background-color: #64958f;
    font-size: 1.8rem;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffbb91;
    font-weight:600;
}

.navbar-inverse .navbar-brand {
    color: #faf3dd;
    font-weight: 600;
}

/*Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 40px;
    padding-right: 40px;
}

 /*Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

 /*Set width on the form input elements since they're 100% wide by default 
input,
select,*/
textarea {
    max-width: 280px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0.75), white);
}